.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "haus haus haus haus haus"
    "hlekkur1 hlekkur2 hlekkur3 hlekkur4 hlekkur5"
    " lewo srodek srodek srodek prawa"
    "footer footer footer footer footer";
}

.margines{
    margin: 15px;
    text-align: justify
}
.margines2{
    margin: 15px;
    text-align: left;
}



.footer{
    grid-area: footer;
    background: skyblue;
    padding: 1px;
    color: white;
}

.v{
    grid-area: lewo;
    background: rgb(241, 128, 128);
}
.pr{
    grid-area: prawa;
    background: rgb(241, 128, 128);
    
}
.sr{
    grid-area: srodek;
    background: lightpink; 
}

.h{
    grid-area: haus;
    background: orange;
    font-family: Oswald;
    padding: 2em;
    color: gray; 
}

.h1{
    grid-area: hlekkur1;
    background: skyblue;
    color: white;
}

.h2{
    grid-area: hlekkur2;
    background: skyblue;
    color: white;
}

.h3{
    grid-area: hlekkur3;
    background: skyblue;
    color: white;
}

.h4{
    grid-area: hlekkur4;
    background: skyblue;
    color: white;
}

.h5{
    grid-area: hlekkur5;
    background: skyblue;
    color: white;
}

.textsro{
    text-align: center;
}




@import url('https://fonts.googleapis.com/css?family=Oswald');

